# pg_hba.conf — managed by Ansible

# TYPE  DATABASE        USER            ADDRESS                 METHOD

local   all             all                                     trust

host    all             all             0.0.0.0/0               scram-sha-256
host    all             all             ::1/128                 scram-sha-256

{% for host in groups['pg_nodes'] %}
host    replication     replicator      {{ hostvars[host]['ansible_host'] }}/32        scram-sha-256
{% endfor %}
