# pg_hba.conf — managed by Ansible

# TYPE  DATABASE        USER            ADDRESS                 METHOD

local   all             all                                     trust

host    all             all             0.0.0.0/0               md5
host    all             all             ::1/128                 md5

{% for host in groups['pg_nodes'] %}
host    replication     replicator      {{ hostvars[host]['ansible_host'] }}/32        md5
{% endfor %}
